html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.nav-bar{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10%;
}

.nav-links{
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 3%;
}

.nav-logo{
  display: flex;
  justify-content: center;
  width: 10%;
  margin: 3%;
}

.nav-bar h3{
  margin: 3%;
  font-size: 25px;
}


.link{
  margin: 3%;
}

.footer{
  bottom: 0;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.home-title, .home-content{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.not-found{
  margin-left: 30%;
  margin-top: 10%;
}

.not-found-link{
  color: blue;
  text-decoration: underline;
}